

:root {
  --aqua-marine: #47efb2;
  --pine-green: #082123;
  --almost-black: #060c08;
  --aqua-green: #19e298;
}

//FONT-SIZE
$default-font-size: 1.6rem;

$bp-largest: 100em; //1600

$bp-large-1: 76.875em; //1230px
$bp-large-2: 62.5em; //1000px;

$bp-medium: 51.25em; //820px
$bp-small: 46.8755em; //750px; //MObile
$bp-smaller: 31.25em; //500px;
$bp-smallest: 25em; //400px;

$height-point: 50em; //800px
$height-point-1: 46.875em; //750px;
$height-point-2: 37.5em; //600px;
//$bp-largest: 1600px; //1600
//
//$bp-large-1: 1200px; //1230px
//$bp-large-2: 1000px; //1000px;
//
//$bp-medium: 820px; //820px
//$bp-small: 750px; //750px; //MObile
//$bp-smaller: 500px; //500px;
//$bp-smallest: 400px; //400px;
//
//$height-point: 800px; //800px
//$height-point-1: 750px; //750px;
//$height-point-2: 600px; //600px;

*{
  margin: 0;
  padding: 0;
}

*:focus {
  outline: 0;
  outline: none;
}

*,
*::after,
*::before{
  box-sizing: inherit;
}
html, body {
  width: auto !important;

  //overflow-x: hidden !important;
}


html{
  outline: none;
  border: none;

  box-sizing: border-box;
  font-size: 62.5%; //10/16  1rem = 10px;

  height: 100%;


  @media only screen and (max-width: $bp-large-1){
    font-size: 55%;
  }

  @media only screen and (max-width: $bp-large-2){
    font-size: 50%;
  }


  @media only screen and (max-width: $bp-medium){
    font-size: 40%;
  }

  @media only screen and (max-width: $bp-small){
    font-size: 40%;
  }
  @media only screen and (max-width: $bp-smaller){
    font-size: 33%;
  }

  @media only screen and (max-width: $bp-smallest){
    font-size: 30%;
  }




}

body{
  font-family: AppleSDGothicNeo,'Lato', sans-serif;
  outline: none;
  border: none;
}


.main-section{
  width: 100%;
  height: 100vh;
  background-image: url(../img/main-bg.png);
  background-blend-mode: screen;
  background-size: cover;
  background-attachment: fixed;
  background-repeat:   no-repeat;
  background-position: center center;
  overflow: hidden;


  position: relative;


  @media only screen and (min-width: $bp-smaller) and (max-width: $bp-small) and (max-height: $height-point-2){
    width: 100%;
    height: 600px;
  }
  @media only screen and (min-width: $bp-small) and (max-width: $bp-large-2) and (max-height: $height-point){
    width: 100%;
    height: 700px;
  }

  @media only screen and (min-width: $bp-large-2) and (max-height: 820px){
    width: 100%;
    height: 850px;
  }

  @media only screen and (max-width: $bp-smaller) and (max-height: $height-point-2){
    height: 600px;
  }

  @media only screen and (max-width: $bp-small){

    background-image: url(../img/mobile-bg.png);
    background-attachment: scroll;
  }


}


nav{
  width: 100%;
  height: 8rem;
  background-color: rgba(255, 255, 255, 0.21);
  display: flex;
  justify-content: space-between;
  align-items: center;

  z-index: 30;


  @media only screen and (max-width: $bp-small){
    visibility: hidden;
  }

}

.how-it-works{
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: space-between;




  @media only screen and (max-width: $bp-small){
    height: auto;
    display: inline-block;

    background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.73)),
    url(../img/mobile-iphone-mockup2.png);
    background-blend-mode: screen;

    background-size: contain;
    background-repeat:   no-repeat;
    background-position: center bottom;

    padding-top: 8rem;
  }




}
.carousel{
  outline: none;
  border: none;
  background-image: url(../img/how-it-works-bg.png);
  background-size: cover;
  background-attachment: fixed;
  background-repeat:   no-repeat;
  background-position: center center;

  width: 100%;
  height: 83.8rem;
  position: relative;

  @media only screen and (max-width: $bp-small){
    background-image: url(../img/mobile-audience1.png);
    background-attachment: scroll;
    height: 100vh;
  }

  @media only screen and (min-width: $bp-smaller) and (max-width: $bp-small) and (max-height: $height-point-1){
    height: 900px;
  }

  @media only screen and (max-width: $bp-smaller) and (max-height: $height-point-2){
    height: 600px;
  }


}
.footer{
  width: 100%;
  height: 80rem;
  background-color: black;

  display: flex;
  align-items:center;
  justify-content:center;


  @media only screen and (max-width: $bp-small){
    height: 70rem;
    overflow: hidden !important;
  }

  @media only screen and (min-width: $bp-smaller) and ( max-width: $bp-small) and (max-height: $height-point-2){
    height: 600px;
  }
  @media only screen and (min-width: $bp-small) and (max-width: $bp-large-2) and (max-height: $height-point){
    height: 720px;
  }

  @media only screen and (min-width: $bp-large-2) and (max-height: 820px){
    height: 850px;
  }



  @media only screen and (max-width: $bp-smaller) and (max-height: $height-point-2){
    height: 600px;
  }

}