
.main-set{

  display: flex;
  height: 80%;
  justify-content: center;
  align-items: center;
  margin: auto 0;

  outline: none;




  @media only screen and (max-width: $bp-small){
    transform: translateY(-8rem)
  }
  @media only screen and (max-width: $bp-smaller) {
    transform: translateY(-5rem);
  }

  @media only screen and (min-width: $bp-largest){
    transform: translateY(7rem);
  }


    .main-left{

      & img{
        display:inline-block;
        //width: 30%;
        width: 42rem;
        height: 75rem;


        margin-right: 10rem;
        @media only screen and (max-width: $bp-large-0){
          width: 35rem;
          height: auto;
        }
        @media only screen and (max-width: $bp-large-1){
          width: 29rem;
          height: auto;
        }
        @media only screen and (max-width: $bp-large-2){
          width: 27rem;
          height: auto;
          margin-left: 4rem;
          margin-right: 5rem;
        }

        @media only screen and (max-width: $bp-small){
          display: none;
        }


        @media only screen and (min-width: $bp-small){
          margin-top: 25%;
        }
      }

    }


    .main-right{

      & > *:not(:first-child){
        margin-top: 3rem;
      }
      @media only screen and (max-width: $bp-small){
        display: flex;
        flex-direction: column;
        align-items:center;
        justify-content:center;
      }

      & .main-right__headings{
        font-size: 4.8rem;
        font-weight: 600;
        letter-spacing: -1px;
        text-align: left;
        color: #fff;



        @media only screen and (max-width: $bp-small){
          font-size: 8rem;
          font-weight: 600;
          letter-spacing: -0.8px;
          text-align: center;
          color: #ffffff;
        }

        @media only screen and (max-width: $bp-smaller){
          font-size: 7rem;
        }


      }

    }


  & .main-right__details{
    font-size: 2.2rem;
    font-weight: 200;
    line-height: 1.45;
    letter-spacing: -1.2px;
    text-align: left;
    color: #fff;




    @media only screen and (max-width: $bp-small){
      font-size: 3.8rem;
      font-weight: 100;
      letter-spacing: 0px;
      line-height: 1.71;
      text-align: center;
    }

  }

  & .main-right__icons{
      display: flex;

      align-items: center;
    & img{
      width: 8rem;
      height: 8rem;
      object-fit: contain;

      @media only screen and (max-width: $bp-small){
        width: 70px;
        height: 70px;
      }

      @media only screen and (max-width: $bp-smaller){
        width: 60px;
        height: 60px;
      }

      @media only screen and (max-width: $bp-smallest){
        width: 50px;
        height: 50px;
      }
    }

    & img:not(:last-child){
      margin-right: 3rem;
    }


  }
}