

.how-left{
  align-self:flex-end;

  @media only screen and  (min-width: $bp-small) and (max-width: 1350px){
    width: 50%;
  }
  @media only screen and (max-width: $bp-small){
    display: none;
  }
  img{
    width: 100%;
    height: auto;
    object-fit: cover;


    @media only screen and (max-width: $bp-large-1){
      width: 90%;
      height: auto;
    }

    @media only screen and (max-width: $bp-large-2){
      width: 80%;
      height: auto;
    }

    @media only screen and (max-width: $bp-medium){
      width: 70%;
      height: auto;
    }







  }

}

.how-right--first,
.how-right--second,
.how-right--third{
  display: flex;
  align-items:flex-start;


  margin-bottom: 4rem;

  @media only screen and (max-width: $bp-small){

    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    padding: 3rem;
    margin-bottom: 5rem;
  }
}

.how-right{

  display: flex;
  flex-direction:column;
  justify-content:center;
  align-items:flex-start;

  color:white;


  @media only screen and (max-width: $bp-small){
    align-items:center;
    justify-content:center;
    padding: 0;
  }


  @media only screen and (min-width: $bp-largest){
    padding-top: 5rem;
    padding-bottom: 5rem;
    padding-right: 15rem;

    margin-right: 10rem;
  }




  &--first,
  &--second,
  &--third{

    @media only screen and (min-width: $bp-small){
        margin-bottom: 0;
    }

    @media only screen and (max-width: $bp-medium){
      margin-bottom: 0;
    }

  }

  &--first{
    @media only screen and (min-width: $bp-small){
      margin-top: 10rem;
    }
  }
  &--third{

    @media only screen and (min-width: $bp-small){
      margin-bottom: 10rem;
    }
  }

  h1{
    display: flex;
    width: 7.7rem;
    height: 7.69rem;
    border: solid 5px var(--aqua-marine);
    border-radius:100%;
    justify-content:center;
    align-items:center;


    margin-right: 5rem;


    @media only screen and (max-width: $bp-large-1){
        margin-right: 4rem;
        border: solid 3px var(--aqua-marine);
    }
    @media only screen and (max-width: $bp-large-2){
      margin-right: 3rem;
    }

    @media only screen and (max-width: $bp-small){
      width: 6.5rem;
      height: 6.5rem;
      font-size: 4rem;

      border: solid 3px var(--aqua-marine);
      margin-right: 0;
    }
  }

  h2{
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1.45;
    letter-spacing: -1.2px;
    text-align: left;
    color: var(--aqua-marine);

    margin-bottom: 3rem;

    @media only screen and (max-width: $bp-small){
      font-size: 4.0rem;
      font-weight: 600;
      line-height: 1.33;
      letter-spacing: -1.2px;
      text-align: center;
      color: var(--aqua-green);

    }
  }

  span{
    font-size: 2.2rem;
    font-weight: 200;
    line-height: 1.45;
    letter-spacing: -1.2px;
    color: #ffffff;



    @media only screen and (max-width: $bp-small){
      //width: 32.5rem;
      //height: 7.2rem;
      font-size: 3.0rem;
      font-weight: 100;
      line-height: 1.71;
      letter-spacing: 0px;
      text-align: center;
      color: #ffffff;

    }

    @media only screen and (max-width: $bp-smaller){
      font-size: 2.8rem;
    }
  }

  &--first__set,
  &--second__set,
  &--third__set{
    display: flex;
    flex-direction:column;

    padding-top: 2rem;
  }


}

